@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}

.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header>h1 {
    background-color: rgb(185, 65, 85);
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 100;

}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(219, 154, 13);
    height: 60px;
    padding-top: 0;
}

nav ul li {
    float: left;
    border: black solid 1px;
    border-radius: 10%;
    margin: 4 1.5 4 2;
}

nav ul a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 50px 15px 50px;
    text-decoration: none;
}

nav ul a:hover {
    background-color: rgb(69, 69, 69);
    color: rgb(221, 137, 76);
    border-bottom: solid 2px white;
    border-radius: 10%;
}


.title {
    border-bottom: dashed 1px;
    background-color: #fce8c7;
    margin: 0;
    padding: 20px 50px 20px 20px;

}

article>h1 {
    text-indent: 5px;
    font-size: xx-large;
    font-weight: 500px;
    margin: 0;

}


article {
    background-color: rgb(241, 205, 136);
    width: 85%;
    height: calc(100vh - 140px);
    padding: 0;
    float: left;
    position: relative;
    overflow-y: scroll;

}

.his {
    border: solid gray 1px;
    background-color: #fce8c7;
    border: 10%;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    text-align: justify;
}

.his p {
    margin: 0 5px 10px 5px;
}

aside {
    float: right;
    margin: 0;
    width: 15%;
}

.an ul {
    text-decoration: underline black 1.5px;
    list-style-type: disc;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}


.an {
    border-bottom: solid black 1px;
    background-color: rgb(241, 205, 136);
    border-bottom-right-radius: 10%;
    padding: 10px;
}

.an ul li a:hover {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: underline white 1.5px;
}

.an ul li {
    margin: 5px 0;
}

.an ul a {
    color: rgb(0, 0, 0);
    font-size: large;
}

.his .box {
    background-color: rgb(69, 69, 69);
    color: white;
    border-radius: 4px;
    float: right;
}

.box {
    padding: 4px 9px 4px 9px;
}

#active {
    background-image: url("../img/particle.gif");
    background-size: 100%;
    background-position: left;
}

#btn {
    position: fixed;
    float: right;
    background-color: Transparent;
    border: none;
    bottom: 10px;
    right: 17%;
    opacity: 25%;

}

#btn:hover {
    opacity: 100%;
}

a img {
    width: 30px;
}

section h1 {
    font-size: 200%
}

.map {
    position: relative;
    width: 100%;
}