body {
    background-color: rgb(252, 244, 235);
}

.header {
    background-image: url(img/bg.jpg);
    background-size: cover;
    border: 4px inset #175ea0;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 3px 2px 1px;
    margin: 20px 10px 5px 10px;
    padding: 2px;
}

.header h1 {
    color: rgb(190, 168, 138);
}

p,
h1 {
    margin: 20px 10px 10px 10px;
}

div {
    border: solid black 2px;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    padding: 2px;
}

section> :first-child {
    background-color: #b4c1ce;
}

div> :first-child {
    border-bottom: dotted 2px;
}

div p:first-of-type {
    margin-top: -10px;
    font-size: small;
}

p:nth-child(3) {
    text-indent: 20px;
  }

  a {
      color: black;
      font-weight: bold;
  }